* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--font-color);
  overflow: hidden;
  font: 500 2.5vh / 1.5 Ubuntu, sans-serif;
}
/* Default theme */
body 
{
  background-color: var(--color-primary);
  --color-primary: #eee;
  --color-secondary: #555;
  --color-accent: #aaa;
}
.theme-dune 
{
  --color: #ddd;
  --bg-color: #666;
  --color-primary: #de8735;
  --font-color: #a11225;
  --color-secondary: #f4c16e;
  --color-accent: #b5a492;
}

.theme-jurassic-park 
{
  --color: #ddd;
  --bg-color: #666;
  --color-primary: #4b4921;
  --font-color: #f01c1f;
  --color-secondary: #2a8a56;
  --color-accent: #66d848;
}

.theme-back-to-the-future 
{
  --color: #111;
  --bg-color: #eee;
  --color-primary: #e02411;
  --font-color: #1e4ea0;
  --color-secondary: #ffa913;
  --color-accent: #569ced;
}
.theme-close-encounters
{
  --color: #111;
  --bg-color: #eee;
  --hover-brightness: (1.12);
  --color-primary: #84caec;
  --font-color: #fcec86;
  --color-secondary: #efb7dc;
  --color-accent: #ff9969;
}
.theme-star-wars-tatooine-jakku 
{
  --color: #111;
  --bg-color: #eee;
  --color-primary: #dba05c;
  --font-color: #9995bc;
  --color-secondary: #e9cca4;
  --color-accent: #8eafd8;
}
.theme-alien 
{
  --color: #111;
  --bg-color: #eee;
  --color-primary: #d2ff06;
  --font-color: #042a05;
  --color-secondary: #15aa5c;
  --color-accent: #258073;
}
.theme-star-wars 
{
  --color: #ddd;
  --bg-color: #666;
  --color-primary: #27343a;
  --font-color: #f02;
  --color-secondary: #9ea5a8;
  --color-accent: #ff6800;
}
.theme-blade-runner 
{
  --color: #ddd;
  --bg-color: #666;
  --color-primary: #d88f00;
  --font-color: #812a89;
  --color-secondary: #efca93;
  --color-accent: #ff6cdc;
}
.theme-the-matrix 
{
  --color: #ddd;
  --bg-color: #666;
  --color-primary: #031624;
  --font-color: #30ffa4;
  --color-secondary: #044b4a;
  --color-accent: #5fbe92;
}
.theme-the-fifth-element 
{
  --color: #111;
  --bg-color: #eee;
  --color-primary: #f3f1ed;
  --font-color: #0b190c;
  --color-secondary: #fffd6e;
  --color-accent: #ff6100;
}
a 
{
  color: var(--color-secondary);
}
label 
{
  cursor: pointer;
}
html,
body 
{
  height: 100%;
  width: 100%;
}
.container 
{
  border-style: solid;
  border-color: var(--color-accent);
  border-width: 0 1vw;
  position: relative;
  color: var(--color);
  background-color: var(--bg-color);
  width: 88vw;
  margin-left: 6vw;
  margin-right: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
h1,
h2 
{
  color: var(--font-color);
  padding: 1vh;
  text-align: center;
  font-weight: 900;
  text-shadow: 1px 0px 0px black, 1px 1px 0px black, 0px 1px 0px black,
    -1px 1px 0px black, -1px 0px 0px black, -1px -1px 0px black,
    0px -1px 0px black, 1px -1px 0px black, 4px 4px 4px var(--color-primary);
}
h2 
{
  font-size: 4vh;
}
h1
{
  font-size: 5vh;
  height: 15vh;
}
table 
{
  margin: auto;
  text-align: center;
  padding: 0.6vw;
}
hr 
{
  margin-top: 1vh;
  margin-bottom: 5vh;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    var(--color-primary) 10%,
    var(--color-accent) 50%,
    var(--color-primary) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 1vw;
  height: 1px;
  border: 2px outset var(--color-accent);
  border-radius: 100%;
  filter: blur(0px);
  outline-width: 2px;
  outline-style: outset;
  outline-color: var(--color-secondary);
  transform: scale(40, 1);
}
button
{
  font-weight: 700;
  color: var(--font-color);
  margin: 2px;
  background-color: var(--color-secondary);
  font-size: 2.6vh;
  max-width: 100%;
  text-shadow: 1px 1px 0 var(--color-accent);
  padding: 0.6vh 1.2vw;
  border: 4px outset var(--color-secondary);
  border-radius: 30px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--color-secondary);
}
button:hover 
{
  transform: translateY(-1px);
  outline-color: var(--color-accent);
  outline-width: 1px;
  animation-duration: 500ms;
  transition: ease-in-out;
}
