* {
  /* Basic Style Resets */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  --distance: calc(1vw + 1vh) / 2;
  --half-distance: calc(var(--distance) / 2);
  --double-distance: calc(2 * var(--distance));
  --text-shadow: 1px 0px 0px var(--bs-primary-text-emphasis), 1px 1px 0px var(--bs-primary-text-emphasis), 0px 1px 0px var(--bs-primary-text-emphasis),
    -1px 1px 0px var(--bs-primary-text-emphasis), -1px 0px 0px var(--bs-primary-text-emphasis), -1px -1px 0px var(--bs-primary-text-emphasis),
    0px -1px 0px var(--bs-primary-text-emphasis), 1px -1px 0px var(--bs-primary-text-emphasis), 4px 4px 4px var(--bs-primary-text-emphasis);
  --bg-gradient: radial-gradient(ellipse farthest-corner at right bottom,
      var(--color-accent2) 0%,
      var(--color-accent) 8%,
      var(--color-primary) 30%,
      var(--color-secondary) 40%,
      transparent 80%),
    radial-gradient(ellipse farthest-corner at left top,
      var(--color-secondary) 0%,
      var(--color-primary) 8%,
      var(--color-accent) 25%,
      var(--color-accent2) 62.5%);
  --bs-text-opacity: .1 !important;
  text-rendering: geometricPrecision !important;
  --bs-btn-bg: var(--color-primary) !important;
  --bs-primary: var(--color-primary) !important;
  --bs-button-bg: var(--color-accent) !important;
  --bs-primary-foreground: var(--color-secondary) !important;
  --bs-primary-border: var(--color-accent2) !important;
  --bs-primary-bg-subtle: var(--bg-color) !important;
  --bs-primary-hover-bg: var(--color-accent) !important;
  --bs-secondary-hue: var(--color-accent) !important;
  --bs-emphasis-color-hsl: var(--color-accent2) !important;
  --bs-primary-active-bg: var(--color-secondary) !important;
  --bs-primary-border-subtle: var(--color-accent2) !important;
  --bs-primary-text-emphasis: var(--color-accent2) !important;
}

.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border: 3px inset var(--color-accent);
  border-left: 13px outset var(--color-accent2);
  border-right: 0px;
  border-radius: 4rem 2rem 2rem 4rem;
}

html {
  max-width: 100vw;
}

html,
body {
  height: 100%;

}

body {
  background-image: var(--bg-gradient) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  width: 100%;
}

#content {
  /*
  
  margin: 0 auto;
  border: 7px inset var(--color-secondary);
  border-right: 1px;
  border-left-width: 13px;
  border-left-style: solid;
  border-radius: 4em 2em 2em 4em;

}

#main {
  /*
  margin: 0 auto;
  background-color: #0f0f0f66;
  backdrop-filter: blur(10px) saturate(110%) brightness(110%) contrast(110%) invert(10%);
  width: 100%;
  border: 7px solid var(--color-accent2);
  border-right-width: 1px;
  border-left-width: 13px;
  border-radius: 4em 2em 2em 4em;
  */
}

#made-with::after {
  content: var(--symbol);
  font-size: 1rem;
  text-shadow: var(--text-shadow);
}
