/* Default theme */
html[data-theme="default"] {
  --bg-primary: #eee;
  --color-secondary: #555;
  --color-accent: #aaa;
  --color-accent2: #555;
  --symbol: "💔";
}
html[data-theme="0"] {
  --bg-primary: #d2ff06;
  --color-accent2: #042a05;
  --color-secondary: #15aa5c;
  --color-accent: #258073;
  --symbol: "🖤";
}
html[data-theme="1"] {
  --bg-primary: #e02411;
  --color-accent2: #1e4ea0;
  --color-secondary: #ffa913;
  --color-accent: #569ced;
  --symbol: "💙";
}

html[data-theme="2"] {
  --bg-primary: #dba05c;
  --color-accent2: #9995bc;
  --color-secondary: #e9cca4;
  --color-accent: #8eafd8;
  --symbol: "🤎";
}

html[data-theme="3"] {
  --bg-primary: #f3f1ed;
  --color-accent2: #0b190c;
  --color-secondary: #fffd6e;
  --color-accent: #ff6100;
  --symbol: "🖤";
}
html[data-theme="4"] {
  --bg-primary: #84caec;
  --color-accent2: #fcec86;
  --color-secondary: #efb7dc;
  --color-accent: #ff9969;
  --symbol: "💛";
}
html[data-theme="5"] {
  --bg-primary: #d88f00;
  --color-accent2: #812a89;
  --color-secondary: #efca93;
  --color-accent: #ff6cdc;
  --symbol: "💜";
}
html[data-theme="6"] {
  --bg-primary: #4b4921;
  --color-accent2: #f01c1f;
  --color-secondary: #2a8a56;
  --color-accent: #66d848;
  --symbol: "💚";
}



html[data-theme="7"] {
  --bg-primary: #f5f5f5;
  --color-accent2: #f02;
  --color-secondary: #9ea5a8;
  --color-accent: #ff6800;
  --symbol: "❤️";
}



html[data-theme="8"] {
  --bg-primary: #031624;
  --color-accent2: #30ffa4;
  --color-secondary: #044b4a;
  --color-accent: #5fbe92;
  --symbol: "💚";
}
html[data-theme="9"] {
  --bg-primary: #de8735;
  --color-accent2: #a11225;
  --color-secondary: #f4c16e;
  --color-accent: #b5a492;
  --symbol: "💙";
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-body {
  background-color: var(--color-accent) !important;
}

.bg-body-secondary {
  background-color: var(--color-accent2) !important;
}

.bg-gradient {
  background-image: linear-gradient(33deg, var(--color-secondary), transparent) !important;
}

.bg-transparent {
  var(--bg-body) !important;
}